* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
th,
td,
figure {
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

.darkmode {
  --maincolor:#e8ecf0;
  --fontcolor:#88929B;
  --bgcolor:#394149;
  --hovercolor:black;
}

.color-example {
  background-color: var(--maincolor, #394149);
}

:root {
  --p1920:calc(100vw / 1920);
  --p1440: calc(100vw / 1440);
  --p1100: calc(100vw / 1074);
  --p768: calc(100vw / 768);
  --p468: calc(100vw / 468);
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-wrapper {
  height: 565px;
}

@media (max-width: 590px) {
  .swiper-wrapper {
    height: unset;
  }
}

.swiper-slide {
  background-color: unset;
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 590px) {
  .swiper-slide {
    width: 320px;
  }
}

@media (max-width: 468px) {
  .swiper-slide {
    width: 280px;
  }
}

.swiper-slide .swiper-info-box {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 590px) {
  .swiper-slide .swiper-info-box {
    height: unset;
  }
}

.swiper-slide .swiper-info-box .info-title-box {
  margin-bottom: 20px;
}

.swiper-slide .swiper-info-box .info-title-box .title {
  font-size: 1.6875rem;
  font-weight: 700;
  color: var(--maincolor, #394149);
}

.swiper-slide .swiper-info-box .info-title-box .category {
  font-size: 1rem;
  color: var(--fontcolor, #88929B);
  text-align: start;
}

.swiper-slide .swiper-info-box .info-content {
  font-size: 1rem;
  color: var(--fontcolor, #88929B);
  text-align: start;
}

.swiper-slide .swiper-img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 590px) {
  .swiper-slide .swiper-img {
    height: 320px;
  }
}

.swiper-slide .swiper-img .mask {
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.swiper-slide .swiper-img:hover .mask {
  background-color: var(--hovercolor, #ffffff);
  opacity: 0.5;
}

.next-prev-box {
  position: relative;
  margin-top: 75px;
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 590px) {
  .next-prev-box {
    width: 80px;
    height: 30px;
    margin-top: 40px;
  }
}

.next-prev-box .swiper-button-next, .next-prev-box .swiper-button-prev {
  border-radius: 50%;
  border: 1px solid var(--maincolor, #394149);
  width: 50px;
  height: 50px;
  position: static;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

@media (max-width: 590px) {
  .next-prev-box .swiper-button-next, .next-prev-box .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
}

.next-prev-box .swiper-button-next::after, .next-prev-box .swiper-button-prev::after {
  content: unset;
}

.next-prev-box .swiper-button-next i, .next-prev-box .swiper-button-prev i {
  font-size: 25px;
  color: var(--maincolor, #394149);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 590px) {
  .next-prev-box .swiper-button-next i, .next-prev-box .swiper-button-prev i {
    font-size: 20px;
  }
}

.next-prev-box .swiper-button-next:hover, .next-prev-box .swiper-button-prev:hover {
  background-color: var(--maincolor, #394149);
}

.next-prev-box .swiper-button-next:hover i, .next-prev-box .swiper-button-prev:hover i {
  color: var(--bgcolor, #eff1f3);
}
/*# sourceMappingURL=swiper.css.map */